# mod_rewrite starts here

RewriteEngine on

# do not apply to existing directories

RewriteCond %{REQUEST_FILENAME} !-d

# check for file in directory with .html ext

RewriteCond %{REQUEST_FILENAME} -f

# Rules

RewriteRule ^(.*)$ $1.html [NC,L]