@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&display=swap');

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
	background-color: #dadfe8;
	font-family: "Lato", sans-serif;
	position: relative;
	min-height: 100%;
	padding-bottom: 6rem;
}
/* Fade in animation */
@keyframes fadeIn {
	0% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn ease 1s;
}

/* Misc */
h1 {
	color: black;
	font-size: 36px;
	text-align: center;
}

h2 {
	color: black;
	text-align: center;
	font-weight: normal;
}

#inline_link {
	text-decoration: underline;
	color: black;
}

#inline_link:hover {
	font-style: italic;
}

#counter {
	font-family: "Inconsolata", monospace;
	color: gray;
	font-size: 23px;
	text-align: center;
	padding: 10px;
}

#interests {
	margin: 0 auto;
	width: 30%;
}

p {
	color: black;
	font-size: 18px;
	text-align: center;
}

/* Title animation */

.title_container h1 {
	white-space: nowrap;
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.title_container {
	text-align: center;
}

@keyframes titleFade2 {
	0% {
		opacity: 0;
	} 50% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}

#title1 {
	animation: fadeIn linear 2s;
}
#title2 {
	animation: titleFade2 linear 2s;
}

/* Footer Stuff */
.content {
	flex: 1 1 auto;
}

.footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

.footer p {
	font-size: 12px;
	font-style: italic;
}

.footer a {
	text-decoration: none;
	font-size: 12px;
	font-style: italic;
	color: black;
	padding: 4px;
}

.footer a:hover {
	text-decoration: underline;
}

/* Header Stuff */
.header ul {
	list-style-type: none;
	padding: 0;
	display: table;
	margin: 0 auto;
}

.header li {
	display: inline;
	float: left;
}

#current_link {
	display: block;
	color: #42454a;
	padding: 38px;
	font-size: 24px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
}

.header a {
	display: block;
	color: #42454a;
	padding: 38px;
	font-size: 24px;
	text-decoration: none;
	text-align: center;
	padding-bottom: 5px;
}

/* Animation for header links */

.header a.link_animation {
	position: relative;
}

.header a.link_animation::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #42454a;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}

.header a.link_animation:hover::before {
	visibility: visible;
	transform: scaleX(0.6);
}

/* Resume formatting */
.resume_format {
	margin-left: 300px;
	margin-right: 300px;
	padding: 10px;
}

.resume_format h1 {
	color: black;
	font-size: 36px;
	text-align: left;
	margin-bottom: 5px;
}

.resume_format h2 {
	color: rgb(74,74,74);
	font-size: 22px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 7px;
}

.resume_format h3 {
	color: black;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 7px;
}

.resume_format p {
	color: rgb(74,74,74);
	font-size: 16px;
	text-align: left;
	margin-top: 5px;
}

.resume_format ul {
	margin-top: 0px;
	margin-bottom: 20px;
}

.resume_format ul,li,ul {
	margin-bottom: 1px;
}

.resume_format li {
	color: rgb(74,74,74);
	font-size: 16px;
	padding: 1px;
}

#italic_p {
	font-style: italic;
}

.rl_heading h3{
	white-space: nowrap;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-block-end: 0px;
}

/* Contact formatting */
.buttons {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.buttons a {
	white-space: nowrap;
	text-align: center;
	display: inline-block;
	padding-left: 50px;
}

/* Project page formatting */
.project_body {
	text-align: center;
}

.project_body p {
	text-align: left;
	display: block;
	margin-left: 200px;
	margin-right: 200px;
}

.project_body img {
	margin-top: 20px;
}

.project_body figcaption {
	font-style: italic;
	margin-top: 10px;
	color: rgb(74, 74, 74);
}

.project_body a {
	display: inline;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
}

#return_link {
	font-size: 24px;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

.project_entry a {
	padding-top: 0;
	padding-bottom: 10px;
	margin-left: 200px;
	margin-right: 200px;
}

.project_entry h2 {
	font-weight: bold;
	margin-top: 10px;
}

.project_entry hr {
	width: 65%;
}